@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes homepage {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.footer {
  background-color: #333333;
  color: white;
  width: 100%;
  padding-top: 10px;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  padding: 15px;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0 15px 20px 15px;
}
.footer__list > li {
  padding: 5px;
}
.footer__list > li > a {
  color: white;
  text-decoration: none;
}
.footer__icons {
  margin-right: 10px;
}

#loader-position {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader-background 0.01s;
  animation-fill-mode: forwards;
  z-index: 1000;
  animation-delay: 3s;
  left: 0;
  top: 0;
}

#loader {
  width: 120px;
  height: 120px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 15px solid #9356DC;
  border-top: 15px solid #eaf0f6;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

main {
  animation: homepage 0ms 3s both;
}

.homepage-header {
  font-family: "Shrikhand", cursive;
  text-align: center;
}

.homepage-location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: #f2f2f2;
}
.homepage-location > p {
  position: relative;
}
.homepage-location i {
  position: absolute;
  left: -30px;
}

.book-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px 0 30px 0;
}
.book-menu__text {
  font-weight: 100;
}
.book-menu__button {
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.book-menu__button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.how-it-works-heading {
  margin-left: 30px;
}

.how-it-works-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: #f8f8f8;
  justify-content: flex-start;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
}
.how-it-works-cards:hover {
  background-color: #ece1f9;
}
.how-it-works-cards__icons-numbers {
  position: absolute;
  left: -10px;
  font-size: 11px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  padding-top: 4px;
  width: 20px;
  height: 20px;
}
.how-it-works-cards__icons {
  padding: 0 30px;
  color: gray;
}
.how-it-works-cards__icons:hover {
  color: #9356DC;
}

.restaurant-cards-outer {
  background-color: #f8f8f8;
  padding: 20px 0;
}
.restaurant-cards-outer > h2 {
  margin-left: 30px;
}

.restaurant-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}
.restaurant-cards__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  height: 25vh;
}
.restaurant-cards__new {
  color: #278870;
  padding: 5px 20px;
  font-size: small;
  border-radius: 2px;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: 10px;
}
.restaurant-cards__name {
  margin: 10px 0 5px 10px;
}
.restaurant-cards__location {
  margin: 0 0 10px 10px;
  font-weight: 100;
}
.restaurant-cards__icon {
  position: absolute;
  right: 15px;
  bottom: 30px;
}

.menu-pages-header__heading {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
}
.menu-pages-header__arrow {
  position: absolute;
  top: 30px;
  left: 30px;
}
.menu-pages-header__arrow:visited {
  color: black;
}

.menu-pages-image {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 25vh;
}

.menu-pages-image2 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 25vh;
}

.menu-pages-image3 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 25vh;
}

.menu-pages-image4 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 25vh;
}

.menu-outer {
  background-color: #f8f8f8;
  position: relative;
  padding: 15px 15px 50px 15px;
  border-radius: 30px 30px 0 0;
  margin-top: -5vh;
}
.menu-outer > hr {
  background-color: #99E2D0;
  width: 30px;
  margin-left: 0;
  border-width: 0;
  height: 4px;
}
.menu-outer__heading {
  font-family: "Shrikhand", cursive;
}
.menu-outer__icon {
  position: absolute;
  right: 30px;
  top: 35px;
  font-size: 20px;
}
.menu-outer__course-name {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 100;
  margin-top: 30px;
}
.menu-outer__button {
  border-radius: 20px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: auto;
  padding: 10px 50px;
  margin-top: 50px;
}
.menu-outer__button:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.menu-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-wrap: wrap;
  text-align: start;
  margin-bottom: 15px;
}
.menu-cards__dish {
  flex: 1 0 50%;
  margin: 10px 0 0 10px;
}
.menu-cards__sub {
  font-weight: 100;
  flex: 0 1 90%;
  margin: 5px 0 10px -8px;
}
.menu-cards__price {
  margin: 5px 0 10px -20px;
}

.menu-cards-animation {
  animation: fadeIn 3s backwards;
}

.entrees {
  animation-delay: 0.5s;
}

.main-dish {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 1.5s;
}

html {
  box-sizing: border-box;
}

*, *:before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
