@import "./utils/variables";
@import "./utils/mixins";
@import "./base/typography";
@import "./pages/homepage";
@import "./pages/menu";

html{
    box-sizing: border-box;
}

*, *:before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: $font-main;
    font-size: 15px;
}