/* menu items fade in */

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* homepage loader and spinner */

@keyframes spin{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes loader-background{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes homepage{
  0%{
    transform: translateX(-9999px);
  }
  100%{
    transform: translateX(0);
  }
}

/* heart animation */

@keyframes full-heart{
  0%{
    transform: translateY(0) /*translateX(0) scale(0.4)*/;
  }
  100%{
    transform: translateY(-200px) /*translateX(0) scale(1)*/;
    opacity: 1;
  }
}