#loader-position{
    @include loader-position;
}

#loader{
    @include loader;
    animation: spin 3s linear infinite;
}

main{
    animation: homepage 0ms 3s both;
}

.homepage-header{
    font-family: $font-logo-titles;
    text-align: center;
}

.homepage-location{
    @include flex-center (row);
    background-color: #f2f2f2;

    >p{
        position: relative;
    }
    i{
        position: absolute;
        left: -30px;
    }
}

.book-menu{
    @include flex-center (column);
    background-color: $color-background;
    padding: 10px 0 30px 0;

    &__text{
        font-weight: map-get($font-weight, light);
    }
    &__button{
        @include explore-order-btn;
        &:hover{
            opacity: 0.8;
            box-shadow: $box-shadow-dark;
        };
    }
}

.how-it-works-heading{
    margin-left: 30px;
}

.how-it-works-cards{
    @include flex-center (row);
    background-color: $color-background;
    justify-content: flex-start;
    width: 80%;
    @include box-shadow-cards;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    &:hover{
        background-color: lighten($color-primary, 33%);
    }

    &__icons-numbers{
        @include number-icons;
    }

    &__icons{
        padding: 0 30px;
        color: gray;
        &:hover{
            color: $color-primary;
        }
    }
}

.restaurant-cards-outer{
    background-color: $color-background;
    padding: 20px 0;

    >h2{
        margin-left: 30px;
    }
}

.restaurant-cards{
    @include flex-center (column);
    align-items: flex-start;
    width: 80%;
    @include box-shadow-cards;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;

    &__image{
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 25vh;
    }

    &__new{
        @include new-banners;
        position: absolute;
        top: 0;
        right: 10px;
    }

    &__name {
        margin: 10px 0 5px 10px;
    }

    &__location{
        margin: 0 0 10px 10px;
        font-weight: map-get($map: $font-weight, $key:light );
    }

    &__icon{
        position: absolute;
        right: 15px;
        bottom: 30px;
    }
}
