@mixin loader{
    width: 120px;
    height: 120px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 15px solid $color-primary;
    border-top: 15px solid #eaf0f6;
    border-radius: 50%;
}

@mixin loader-position{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    animation: loader-background 0.01s;
    animation-fill-mode: forwards;
    z-index: 1000;
    animation-delay: 3s;
    left: 0;
    top:0;
}

@mixin flex-center ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: $direction;
}

@mixin explore-order-btn{
    border-radius: 20px;
    background: linear-gradient($color-secondary, $color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin number-icons{
    position: absolute;
    left: -10px;
    font-size: 11px;
    border-radius: 50%;
    color: white;
    background-color: $color-primary;
    padding-top: 4px;
    width: 20px;
    height: 20px;
}

@mixin box-shadow-cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@mixin new-banners{
    color: $color-new;
    padding: 5px 20px;
    font-size: small;
    border-radius: 2px;
    background-color: $color-tertiary;
}

@mixin menu-page-images{
    background-size: cover;
    background-position: center center;
    height: 25vh;
}

@mixin course-name-lines{
    background-color: $color-tertiary;
    width: 30px;
    margin-left: 0;
    border-width: 0;
    height: 4px;
}