$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: lighten(#f2f2f2, 2.5%);
$color-new: darken($color-tertiary, 40%);

$font-logo-titles: 'Shrikhand', cursive;
$font-main: 'Roboto', sans-serif;
