$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: lighten(#f2f2f2, 2.5%);
$color-new: darken($color-tertiary, 40%);
$color-background-footer: lighten(black, 20%);

$font-logo-titles: 'Shrikhand', cursive;
$font-main: 'Roboto', sans-serif;

$box-shadow-dark: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);