.footer{
    background-color: $color-background-footer;
    color: white;
    width: 100%;
    padding-top: 10px;
    @include desktop{
        text-align: center;
    }
    @include tablet{
        text-align: center;
    }

    &__logo{
        font-family: $font-logo-titles;
        margin: 0;
        padding: 15px;
    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0 15px 20px 15px;
        @include desktop{
            display: flex;
            justify-content: space-around;
        }
        @include tablet{
            display: flex;
            justify-content: space-around;
        }

        >li{
            padding: 5px;
            &>a{
                color: white;
                text-decoration: none;
            }
        }
    }

    &__icons{
        margin-right: 10px;
    }
}

